@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
      width: 8px; /* Width of the scrollbar */
    }
  
    .custom-scrollbar::-webkit-scrollbar-track {
      background: #f1f1f1; /* Track color */
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background: #888; /* Scrollbar color */
      border-radius: 4px; /* Round corners */
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #555; /* Darker color on hover */
    }
  }